apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-website
  annotations:
    ad.datadoghq.com/my-website.check_names: '["http_check"]'
    ad.datadoghq.com/my-website.init_configs: '[{}]'
    ad.datadoghq.com/my-website.instances: '[{"name": "My-portfolio", "url": "http://%%host%%:80"}]'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-website
  template:
    metadata:
      labels:
        app: my-website
    spec:
      containers:
      - name: my-website
        image: my-website:latest
        imagePullPolicy: Never # THIS IS CRUCIAL
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: my-website-service
spec:
  selector:
    app: my-website
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
